@charset "UTF-8";
/* CSS Document */

body {
	font-weight: 400;
}

a {
	
}

#header {
	height:300px;
	background-color: #e0f7fa;
	line-height: 300px;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: 300;
	font-size:4em;
	color: #00838f;
	letter-spacing: 4px;
}

.card {
	background-color: #fafafa;
}

.card a {
	font-weight: 300 !important;
}

.card .card-title a {
	color: #0091ea !important;
	text-transform:	none;
}

.post-image {
	
}

.card .card-title .imageLink a  {
	color: #e0f7fa !important;
}

.card .card-title .imageLink a:hover  {
	color: #b2ebf2 !important;
}

.post-title {
	color: #01579b !important;
}

.username {
	font-size: 0.4e;
	color: #e0e0e0;
}

.card-image .card-title {
	background-color: #00838f !important;
	color: #fff !important;
}

.vote {
	padding-right: 12px;
	display: inline-block;
}

.card-action .username {
	color: #757575;
}

.userprofilepic {
	height: 50px;
	width: auto;
	vertical-align: middle;
	padding-left: 5px;
}

.commentsbox {
	font-weight: 400;
}

#loginButton, #uid {
	margin: auto auto;
	display: block;
}

.user-avatar {
	min-width: 50px;
	max-width: 100px;
}

.comments-table {
	width: 100%;
	padding: 1em;
}

.user-avatar-td {
	width: 100px;
}

#submit-btn {
	float:right;
}

.odd-row {
	background-color: #fafafa;
}

.even-row {
	background-color: #f5f5f5;
}

#footer {
	background-color: #363636;
	color: #fff;
	text-align: center;
	font-size: 0.8em;
	padding-top: 2em;
	padding-bottom: 2em;
	letter-spacing: 2px;
	font-weight: 200;
}

.post-heading {
	font-weight: 300;
	font-style: italic;
	color: #ef5350;
	font-size: 3em;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}