@charset "UTF-8";
/* CSS Document */

body {
	font-weight: 300;
}

a {
	
}

#header {
	height:300px;
	background-color: #e0f7fa;
	line-height: 300px;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: 300;
	font-size:4em;
	color: #00838f;
	letter-spacing: 4px;
}

.card {
	background-color: #fafafa;
}

.card a {
	font-weight: 300 !important;
}

.card .card-title a {
	color: #0091ea !important;
}

.post-image {
	
}

.card-image .card-title {
	background-color: #00838f !important;
	color: #fff !important;
}

.vote {
	padding-right: 12px;
	display: inline-block;
}

#loginButton, #uid {
	margin: auto auto;
	display: block;
}

.user-avatar {
	min-width: 50px;
	max-width: 100px;
}

.comments-table {
	width: 100%;
	padding: 1em;
}

.user-avatar-td {
	width: 100px;
}